<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analýza článků</title>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
>

</head>
<body style="background-color: #34495e">
    <header><h2 style="color: #566573; padding: 10px;">_url | _text | _zdroj
    </h2></header>
    <section>
        <div style="padding: 20px;">

            <form action="/" method="post">
                <label for="urls" style="color: #d7dbdd;">Vlož URL článků</label>
                <textarea name="urls" rows="5" cols="50" placeholder="Zadej každou URL na nový řádek..."></textarea><br>
                <button class="outline secondary" type="submit">Analyzovat</button>
            </form>
        </div>
    </section>  
</body>
</html>
